<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Play poker" />
    <!-- <meta name="theme-color" content="" /> -->
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Poker</title>
    <!--
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/manifest.json" />
    -->
    <link rel="stylesheet" href="/styles.css" />
    {%- for script in scripts -%}
    <script src="{{script}}" type="module"></script>
    {%- endfor -%}
  </head>
  <body>
    <header>
      <nav>
        <a href="/">New Game</a>
      </nav>
    </header>
    <main>
      {{content | safe}}
    </main>
  </body>
</html>

